<%inherit file="blog_base_2.html"/>

<%block name="title">
    Почему клиенты уходят и что можно с этим сделать | Блог Conversation parser
</%block>

<%block name="meta">
<meta name="description"
      content="Почему клиенты покидают компанию? Почему контроль количества ушедших клиентов важнее привлечения новых? Как можно снизить эту цифру?.">
<meta name="author" content="Sergey Fomin">
</%block>


<%block name="article_title">
Почему клиенты уходят и что можно с этим сделать
</%block>

<%block name="article_date">
13 октября 2016
</%block>

<%block name="post">


<p>
    Почему клиенты покидают компанию? Почему контроль количества ушедших клиентов важнее привлечения новых?
    Как можно снизить эту цифру?
</p>
<img src="/static/img/blog/post4-1.png" class="blog-post-img" align="center" width="100%">
<p>
    Клиенты ушли, что делать дальше? Естественная реакция, привлечь больше новых клиентов и сделать больше
    продаж. Есть очень простой пример, который наглядно покажет, что это тупиковый путь.
</p>

<img src="/static/img/blog/post4-2.png" class="blog-post-img" align="center" width="100%">
<img src="/static/img/blog/post4-3.png" class="blog-post-img" align="center" width="100%">

<p>
    Все показатели двух компаний одинаковые, за исключением одного, количество ушедших клиентов у “Компании 1”
    на 15% в год меньше, чем у “Компании 2”. В результате у 5 году, доходы “Компании 1” на 40% выше чем у “Компании 2”.
    И разница со временем становиться только больше.
</p>
<p>
    С точки зрения среднесрочных успехов умение работать с оттоком имеет важное значение.
    Так какая же правильная реакция на уход клиентов?
</p>

<p>
    В первую очередь, попытаться найти причины из-за которых клиенты уходят.
    Во вторых, перестать думать, что “продажи” это конечная точка взаимодействия с клиентами, потому
    что любая “продажа” - это начало этих отношений. Иначе любые средства потраченные на привлечение новых клиентов,
    будут спущены в унитаз, из-за того что поток, уходящих клиентов, растет пропорционально количеству привлеченных.
</p>

<p>
    Обычно более интенсивно клиенты уходят в начале сотрудничества. Это происходит по целому ряду причин,
    таких как плохая коммуникация во время продаж, изменение приоритетов, плохая работа с новыми клиентами,
    плохая поддержка и т.д. В дальнейшем интенсивность оттока снижается и стабилизируется. Это происходит потому
    что отношения с ними уже выстроились и стабилизировались.
</p>

<p>
    По исследованиям  компании зарабатывают более 70% прибыли на своих постоянных клиентах. Но до того как
    клиенты станут лояльными, отношения с ними должны быть выстроены, а причины недовольства устранены.
</p>

<h2>
    Четыре основные причины недовольства и&nbsp;ухода&nbsp;клиентов
</h2>

<h3>
    1. Плохое обслуживание
</h3>
<p>
    Конечно, вы об этом уже слышали. Плохое обслуживание - это как плохая реклама. Но что такое плохое обслуживание?
    Для кого-то это грубый с клиентами персонал, для кого-то долгое ожидание на телефоне и т.д.
    <a href="https://www.zendesk.com/resources/what-is-bad-customer-service/">42%&nbsp;клиентов</a> считают, что
    основная черта плохого обслуживания -
    это каждый раз говорить с разными сотрудниками и всем рассказывать одно и тоже по несколько раз.
</p>
<p class="lead">
    Как улучшить обслуживание клиентов:
</p>
<ul>
    <li>Создайте внутри компании прозрачный обмен информацией о клиентах. Чтобы каждый сотрудник, общающийся
        с клиентом, видел историю отношений с ним. И это не список звонков или писем,
        <a style="font-size: 1em; color: #337ab7;"
           href="http://conparser.ru/#ability5">это информация об опыте клиента</a> в результате общения с компанией.
        Доволен он или недоволен, какие у него проблемы и т.д.
    </li>
    <li>
        Развивайте у сотрудников критические навыки обслуживания клиентов: сочувствие, доброжелательность,
        терпение, умение четко объяснять, самосовершенствование.
    </li>
    <li>
        Разработайте план действий на случай ошибок службы поддержки, как сотрудникам себя вести и
        что говорить недовольным клиентам.
    </li>
</ul>

<h3>
    2. Проблемы в начале сотрудничества
</h3>
<p>
    Многие компании не задумываются о начальном периоде отношений с клиентом. Сразу начинают заваливать клиента
    рекламными письмами и предложениями, что начинает быстро раздражать клиента и он тихо уходит. Или оставляют
    клиента один на один с первыми проблемами, вместо того что вместе с ним в ручном режиме преодолеть
    все затруднения.
</p>
<p>
    Некоторые клиенты на этом этапе отношений будут сообщать о своих неудобствах (обязательно слушайте их!
    Это ценнейшие сведения о вашей компании, продукте или сервисе). Подавляющее большинство будет уходить молча.
</p>

<ul>
    <li>
        Используйте пошаговые инструкции для клиентов и сотрудников, чтобы они могли легко преодолеть первые трудности.
    </li>
    <li>
        Проверяйте процесс первых шагов с некоторыми клиентами более подробно.
    </li>
</ul>


<h3>
    3. В вашем предложении чего-то не хватает
</h3>
<p>
    Одна из главных причин ухода клиентов в самом начале сотрудничества -  в вашем предложении, продукте или
    сервисе не хватает какой-то важной детали, которая нужна многим. Слушайте своих клиентов. Если клиенты говорят
    о необходимости какого-то детали или функции, выясните как реализовать ее и реализуйте.
</p>

<h3>
    4. Естественный отток клиентов
</h3>
<p>
    В любом бизнесе существует естественный отток клиентов. Ваше предложение может стать неинтересным
    по множеству причин. Вы никак не сможете повлиять на решение, но даже расставаясь, оставляйте о себе и
    вашей компании хорошее впечатление. И как показывают исследования, возвращаясь в будущем, когда ситуация
    изменится, такие клиенты тратят намного больше.
</p>
<p>
    Всегда интересуйтесь у клиентов почему они уходят. Отправьте письмо с вопросом или задайте его по телефону,
    эти ответы могут дать точное понимание причин ухода. Некоторые компании идут дальше и не ограничиваются одним
    вопросом, а проводят целые интервью с клиентами, отказавшимися от их услуг. Это дает им совершенно другой
    уровень понимания причин отказов. Основной упор в таких разговорах идет не на причины, а на историю сотрудничества
    и проблемах возникших в процессе. В результате причины отказа становятся очевидны, кроме того появляется
    много информации об общем процессе совместной работы и местах где можно его улучшить.
</p>

<hr>

<h2>
    Насколько доволен ваш клиент
</h2>

<img src="/static/img/blog/post4-4.png" class="blog-post-img" align="center" width="100%">

<p>
    Постоянно изучайте насколько довольны ваши клиенты. Для этого лучше всего использовать
    NPS(Net promoter score). Это простой и ненавязчивый инструмент для изучения настроения клиентов.
    Клиенты могут указать по шкале от 0 до 10 насколько они довольны и добавить комментарий.
</p>
<p>
    Согласно NPS, клиенты, указавшие 9 и 10, ваши промоутеры и лояльные клиенты - цените их.
    Указавшие 7 и 8 - хорошие клиенты, но не лояльные. С ними надо обязательно работать. Указавшие от 0 до 6,
    недовольные и могу уйти в любой момент.  Такими клиентами надо заниматься немедленно. Возможно у клиента
    проблема, которая была решена, но он об этом не знает. Необходимо немедленно сообщить ему об этом.
    Если проблема не решена, ее необходимо поставить в список требующих срочного решения и решить как можно
    быстрее.
</p>
<p>
    Исследования показывают, что клиенты столкнувшиеся с проблемами, которые были успешно решены,
    более лояльны компании, чем тем кто не сталкивался с трудностями.
</p>

<hr>

<h2>
    Станьте удобным для клиента
</h2>

<img src="/static/img/blog/post4-5.png" class="blog-post-img" align="center" width="100%">

<p>
    Исследования HBR показывают, что лояльность клиентов быстро растет, если взаимодействие с компанией удобно,
    а проблемы решаются быстро и четко. Клиенты хотят удобства.
</p>
<p>
    Этот фактор настолько важен, что становится отличительной характеристикой успешных компаний.
    Необходимо понимать, что удобство работы с той или иной компанией, сегодня становится решающим фактором
    - останется клиент с вами или уйдет к конкуренту.
</p>
<p>
    Для выяснения насколько клиентам удобно работать с вами используйте CES (Customer effort score).
</p>

<hr>

<h2>
    Говорите с клиентами
</h2>

<img src="/static/img/blog/post4-6.png" class="blog-post-img" align="center" width="100%">

<p>
    По статистике на одно жалующегося клиента, приходится 26 промолчавших.
    Считается, что практически невозможно узнать, что они думают. Это не так.
</p>
<p>
    Начните общаться с клиентами сами. Напишите письмо, спросите все ли в порядке, удобно ли им работать с
    вами, всего ли им хватает. Вы будете удивлены, но клиенты очень развернуто отвечают на эти простые вопросы.
    Эти ответы не только помогут вам совершенствоваться, но также дадут возможность решить проблемы о  которых в
    иной ситуации никогда не узнаете.
</p>

<hr>

<h2>
    Покажите свою ценность
</h2>

<img src="/static/img/blog/post4-7.png" class="blog-post-img" align="center" width="100%">

<p>
    Покажите клиентам, что они не зря тратят свои деньги. Найдите информацию, которая покажет клиенту
    вашу ценность. Особенно важно это делать в области услуг, где результат не материален.
</p>
<p>
    Вы хорошо делаете свою работу, и клиент вспоминает о вашем существовании в момент следующего платежа.
    Отправляйте клиентам статистические отчеты о работе в конце месяца, например сколько часов или денег
    вы сэкономили для клиента. Когда клиент постоянно видит эти цифры, он хорошо подумает прежде,
    чем отказаться от сотрудничества.
</p>

<p class="lead">
    Исправление самых вопиющих проблем не означает, что можно успокоится. Это означает, что
    теперь вы должны постоянно работать над лояльностью ваших клиентов. Только так вы можете
    рассчитывать на предсказуемый доход.
</p>

</%block>

<%block name="post_footer">
<p>По материалам блога <a href="http://blog.piesync.com/why-you-have-customer-churn-and-what-you-can-do-about-it/">PieSync</a>.</p>
<p style="font-size: 0.5em;">
    <a class="text-muted small" href="http://www.freepik.com/free-vector/businesswoman-with-an-idea_774112.htm">Pic 1 - Designed by Freepik</a>
    <br>
    <a class="text-muted small" href="http://www.freepik.com/free-photos-vectors/business">Pic 4 - Designed by Freepik</a>
    <br>
    <a class="text-muted small" href="http://www.freepik.com/free-vector/easy-work_785047.htm">Pic 5 - Designed by Freepik</a>
    <br>
    <a class="text-muted small" href='http://www.freepik.com/free-vector/boy-writing-a-wish-list-with-a-cookie_827125.htm'>Pic 6 - Designed by Freepik</a>
    <br>
    <a class="text-muted small" href="http://www.freepik.com/free-vector/hand-holding-a-coin-plant_717317.htm">Pic 7 - Designed by Freepik</a>
</p>

</%block>
