<%inherit file="blog_base.html"/>

<%block name="title">
<title>
    4 ситуации, разрушающие отношения с клиентами | Блог Conversation parser
</title>
</%block>

<%block name="meta">
<meta name="description"
      content="Отношения между компанией и клиентами это тоже самое, что и отношения между людьми.
                    С одной стороны, клиенты хотят чтобы отношение к ним было  персональное и внимательное.
                    С другой стороны, клиенты хотят быть независимыми, чтобы компания им не навязывалась и
                    не подавляла.">
<meta name="keywords"
      content="отношения, клиентский опыт, customer experience, customer service, management">
<meta name="author" content="Sergey Fomin">
</%block>


<%block name="post">
<a name="cases"></a>
<div class="section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 blog-post">
                <h1>
                    4 ситуации, разрушающие отношения с клиентами
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2 blog-post" align="left">
                <%
                    # import code for encoding urls and generating md5 hashes
                    import urllib, hashlib
                    # Set your variables here
                    email = "sergey@reshim.com"
                    default = "/static/img/default_avatar.jpeg"
                    size = 40

                    # construct the url
                    gravatar_url = "https://www.gravatar.com/avatar/" + hashlib.md5(email.lower()).hexdigest() + "?"
                    gravatar_url += urllib.urlencode({'d': default, 's': str(size)})

                %>
                <img src="${gravatar_url}" style="border-radius: 25px;">
                Сергей Фомин

            </div>
            <div class="'col-xs-6 col-sm-6 col-md-4 blog-post" align="right">
                <div style="height:40px; padding-top: 0.3em;">
                    04 октября 2016
                </div>
            </div>
        </div>
        <div style="margin-bottom: 3em;">&nbsp;</div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-post">
                <p>
                    Отношения между компанией и клиентами это тоже самое, что и отношения между людьми.
                    С одной стороны, клиенты хотят чтобы отношение к ним было  персональное и внимательное.
                    С другой стороны, клиенты хотят быть независимыми, чтобы компания им не навязывалась и
                    не подавляла.
                </p>
                <p>
                    Когда клиент обращается к компании он чаще всего ищет поддержки, хочет чтобы его вопрос был
                    решен быстро и с минимальными действиями с его стороны. К концу разговора у клиента должны
                    быть ответы на его вопросы, тогда время будет потрачено не зря и он обратиться в компанию
                    еще раз.
                </p>
                <p>
                    Создаете ли вы положительное впечатление у клиентов или разрушаете желание обращаться к вам?
                </p>
                <h2>
                    4 ситуации, разрушающие отношения с клиентами
                </h2>

                <h3>
                    Задаете клиенту не нужные вопросы
                </h3>

                <img src="/static/img/blog/post3-1.png" class="blog-post-img" align="center" width="100%">

                <p>
                    Задавая каждому клиенту вопросы “Что не так?” и “Как вам помочь?” компания демонстрирует,
                    что она ничего не знает о них. А это верный путь к провалу.
                </p>
                <p>
                    Вы должны знать, что нужно вашим клиентам. Они сообщают об этом каждый день.
                    Их действия на сайте, отправленные электронные письма, обращения в сервис, список прошлых
                    покупок - все это создает картину того что нравится, что не нравится и с какими проблемами
                    они сталкиваются.
                </p>
                <p>
                    Когда клиент набрал номер отдела обслуживания, вы уже должны знать почему он это делает.
                    У вас должно быть готовое решение. Служба работы с клиентами должны знать о клиентах все,
                    что известно на текущий момент. Когда звонит телефон, эти знания должны быть доступны, чтобы
                    не задавать клиенту бессмысленные вопросы. Тогда вы сможете сосредоточится на решении
                    настоящих проблем клиентов, и улучшить отношения.
                </p>

                <h3>
                    Не используете доступную информацию о клиентах
                </h3>

                <img src="/static/img/blog/post3-2.png" class="blog-post-img" align="center" width="100%">

                <p>
                    Клиенты любят компании, которые понимают их с  первого раза. Если клиент рассказывает
                    одно и то же 3 или 4 раза, и постоянно слышит в ответ “Сейчас я переключу вас на нужный
                    номер” или “Назовите номер своего договора”, это не способствует установлению долгосрочных
                    позитивных отношений.
                </p>
                <p>
                    Если не хотите чтобы клиенты бежали от вас после первого звонка в поддержку,
                    внедряйте решение по поиску проблем и учету всех обращений. Решение должно работать
                    со всеми каналами по которым клиенты общаются с компанией, распространять новую информацию
                    между сотрудниками клиентского сервиса как можно быстрее, отслеживать ход решения проблем
                    клиентов.
                </p>
                <p class="lead">
                    Когда компания делает акцент на качестве обслуживания (и удержания!) клиентов, необходимо
                    собрать всю доступную информацию о клиентах. Полная картина, составленная из разных источников,
                    даст возможность найти проблемы и сфокусироваться на них.
                </p>

                <h3>
                    Не бережете время клиента
                </h3>

                <img src="/static/img/blog/post3-3.png" class="blog-post-img" align="center" width="100%">

                <p>
                    Клиенты предпочитают, чтобы отношения с компанией были минималистичны и практичны.
                    Когда вы слишком долго держите клиентов на “холде”, это скорее напоминает удавку на шее.
                    У клиентов есть чем заняться помимо того, чтобы бесконечно висеть на телефоне.
                </p>
                <p>
                    Не ставьте на удержание звонок клиента, если не можете решить проблему сразу,
                    лучше перезвоните ему попозже. Никогда не просите клиента перезвонить вам, чтобы он
                    проходил все шаги автоответчика или голосового меню снова.
                </p>
                <p>
                    Время клиента один из самых важных аспектов хороших отношений. Бережно относитесь к нему,
                    это укрепит положительное впечатление от общения с вами.
                </p>

                <h3>
                    Вы обещаете все исправить, но ничего не делаете
                </h3>

                <img src="/static/img/blog/post3-4.png" class="blog-post-img" align="center" width="100%">

                <p>
                    Если что-то не так, исправляйте.
                </p>
                <p>
                    Компания которая обещает, но не делает, идет к провалу. Если ваши клиенты обращаются к вам из
                    раза в раз с одной и той же проблемой, это в конце концов им надоест. Не оставляйте без внимания
                    даже самые маленькие проблемы, исправляйте их, чтобы ничего не омрачило настроения ваших клиентов.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-post" align="right">
                <div style="margin-bottom: 3em;">&nbsp;</div>
                <p>По материалам блога <a href="http://www.newvoicemedia.com/blog/are-you-serving-your-customers">NewVoiceMedia</a>.</p>
                <p style="font-size: 0.5em;">
                    <a class="text-muted small" href="http://www.freepik.com/free-vector/she-has-a-telephone-conversation_939477.htm">Pic 1 - Designed by Freepik</a>
                    <br>
                    <a class="text-muted small" href="http://www.freepik.com/free-vector/businessman-using-a-tablet_767018.htm">Pic 2 - Designed by Freepik</a>
                    <br>
                    <a class="text-muted small" href="http://www.freepik.com/free-vector/saving-time_762109.htm">Pic 3 - Designed by Freepik</a>
                    <br>
                    <a class="text-muted small" href='http://www.freepik.com/free-vector/minimalist-black-typography-retro-card-design_708931.htm'>Pic 4 - Designed by Freepik</a>
                </p>

            </div>
        </div>
        <div style="margin-bottom: 3em;">&nbsp;</div>
    </div>
</div>
</%block>
