<%inherit file="blog_base.html"/>

<%block name="title">
<title>
    Показатель оттока клиентов. Что считать нормой? | Блог Conversation parser
</title>
</%block>


<%block name="meta">
<meta name="description"
      content="В идеальном мире, где клиенты всегда всем довольны, показатель оттока равен 0. К несчастью, в реальности это не так. Независимо от того, насколько идеален ваш продукт или услуги, насколько высоки ваши стандарты качества, клиенты уходят. Существуют “нормальные” или удовлетворительные значения показателя оттока, которых можно достичь и удерживать.">
<meta name="keywords"
      content="отток, клиентов, значение, показателя, нормальное, какие бывают, client churn, статистика, исследования,
      customer experience, управление">
<meta name="author" content="Sergey Fomin">
</%block>



<%block name="post">
<a name="cases"></a>
<div class="section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 blog-post" align="center">
                <h1>Показатель оттока клиентов. Что считать нормой?</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-md-4 col-md-offset-2 col-xs-offset-2 blog-post" align="left">
                <%
                    # import code for encoding urls and generating md5 hashes
                    import urllib, hashlib
                    # Set your variables here
                    email = "sergey@reshim.com"
                    default = "/static/img/default_avatar.png"
                    size = 40

                    # construct the url
                    gravatar_url = "https://www.gravatar.com/avatar/" + hashlib.md5(email.lower()).hexdigest() + "?"
                    gravatar_url += urllib.urlencode({'d': default, 's': str(size)})

                %>
                <img src="${gravatar_url}" style="border-radius: 25px;">
                Сергей Фомин

            </div>
            <div class="'col-xs-3 col-md-4 blog-post" align="right">
                10 сентября 2016
            </div>
            <div style="margin-bottom: 5em;">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-post">
                <p>
                    В идеальном мире, где клиенты всегда всем довольны, показатель оттока равен 0.
                    К несчастью, в реальности это не так. Независимо от того, насколько идеален ваш продукт или услуги,
                    насколько высоки ваши стандарты качества, клиенты уходят. Существуют “нормальные” или
                    удовлетворительные значения показателя оттока, которых можно достичь и удерживать.
                </p>
                <p>
                    Эти значения зависят от отрасли в которой вы работаете, от того кто ваши клиенты и
                    насколько велика  ваша компания на текущий момент. В разных отраслях эти значения могут
                    отличаться в несколько раз.

                </p>
                <p>
                    Помните, если вы делаете ценный для клиентов продукт, отток со временем должен сокращаться.
                    Дальнейшие выкладки даются для примерной оценки и исходят из того, кто является клиентами.

                </p>

                <h3>Если вы что-то предлагаете для микро бизнеса (ИП)</h3>
                <p>
                    Даже самые полезные и ценные услуги будут иметь большой отток по не зависящим от вас причинам.
                    В отличии от более менее крупных компаний, у микро компании нет достаточного количества ресурсов
                    для развития и они плохо поддаются доп. продажам. Кроме того очень часто микро компании закрываются
                    или меняют направление деятельности.

                </p>
                <h3>
                    Если ваши клиенты - это малый и средний бизнес
                </h3>
                <p>
                    Для таких рынков нормальным считается отток в пределах 5% в месяц на первых порах.
                    Но необходимо стремиться достичь нулевого или отрицательного оттока, это вполне реально.
                </p>

                <h3>Если вы что предлагаете крупным компаниям или корпорациям</h3>
                <p>
                   Ваш средний чек превышает сотню тысяч в месяц, тогда ваш отток должен быть меньше 1% в месяц и
                    уменьшаться вместе с увеличением дохода.

                </p>
                <p class="lead">
                    В общем можно сказать, что около 10% в год нормальное значение для здоровой компании.
                </p>

                <h2>Немного статистики</h2>
                <p>
                    Большинство компаний не заинтересованы в распространении этой информации, поэтому
                    точных данных очень мало. Мы собрали усредненные годовые значения показатели для разных
                    отраслей по открытым источникам:
                </p>
                <ul>
                    <li>
                        американские банки и компании выпускающие кредитные карты, показатель оттока клиентов около 20%
                        <a href="http://www.forbes.com/sites/hbsworkingknowledge/2013/11/11/a-smarter-way-to-reduce-customer-churn/">
                        (источник)
                        </a>
                    </li>
                    <li>
                        европейские операторы сотовой связи, показатель оттока от 20 до 38%
                        <a href="http://hbswk.hbs.edu/item/7350.html">
                            (источник)
                        </a>
                    </li>
                    <li>
                        поставщики сервисов по SaaS модели, показатель оттока в 5-7%
                        <a href="http://sixteenventures.com/saas-churn-rate">(источник)</a>
                    </li>
                    <li>
                        розничные банки (США) имеют показатель оттока в 20-25%
                        <a href="http://www.geoconnexion.com/news/industry-customer-churn-rate-increases-15-percent">(источник)</a>
                    </li>
                    <li>
                        розничные банки (Россия) имеют показатель оттока около  34%
                        <a href="http://www.banki.ru/news/bankpress/?id=8777871">(источник)</a>
                    </li>
                    <li>
                        в сфере электронной торговли, показатель равен 23%
                        <a href="http://www.statista.com/statistics/379518/retail-e-commerce-metrics-tracked-by-online-retailers/">(источник)</a>
                    </li>
                    <li>
                        провайдеры интернет (США, Европа) показатель оттока от 11 до 17%
                        <a href="http://www.statista.com/statistics/216183/us-users-who-have-switched-service-provider-by-service/">(источник 1, </a>
                        <a href="http://www.statista.com/statistics/216183/us-users-who-have-switched-service-provider-by-service/">источник 2)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin-bottom: 3em;">&nbsp;</div>
    </div>
</div>
</%block>
