<%inherit file="blog_base.html"/>

<%block name="title">
<title>
    20 статистических показателей из customer experience | Блог Conversation parser
</title>
</%block>

<%block name="meta">
<meta name="description"
      content="Многие руководители признают, что необходимо создавать у клиентов положительный опыт, но они не представляют насколько это влияет на бизнес. Чтобы показать важность управления клиентским опытом, мы приведем некоторые цифры">
<meta name="keywords"
      content="положительный, отрицательный, клиентский опыт, статистика, customer experience, customer service, management">
<meta name="author" content="Sergey Fomin">
</%block>


<%block name="post">
<a name="cases"></a>
<div class="section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 blog-post">
                <h1>
                    20 статистических показателей <br> customer experience
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 blog-post" align="left">
                <%
                    # import code for encoding urls and generating md5 hashes
                    import urllib, hashlib
                    # Set your variables here
                    email = "sergey@reshim.com"
                    default = "/static/img/default_avatar.png"
                    size = 40

                    # construct the url
                    gravatar_url = "https://www.gravatar.com/avatar/" + hashlib.md5(email.lower()).hexdigest() + "?"
                    gravatar_url += urllib.urlencode({'d': default, 's': str(size)})

                %>
                <img src="${gravatar_url}" style="border-radius: 25px;">
                Сергей Фомин

            </div>
            <div class="col-md-4 blog-post" align="right">
                15 сентября 2016
            </div>
            <div style="margin-bottom: 5em;">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-post">
                <p>
                    Многие руководители признают, что необходимо создавать у клиентов положительный опыт,
                    но они не представляют насколько это влияет на бизнес. Чтобы показать важность управления
                    клиентским опытом, мы приведем некоторые цифры*:
                </p>
                <div class="table-responsive" style="margin-left: 1em;">
                    <table border="0" class="table-1-padding" align="left">
                        <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">67%</span>
                            </td>
                            <td> клиентов указали плохое обслуживание, как причину ухода</td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">39%</span>
                            </td>
                            <td>клиентов следующие 2 года избегали компаний с которыми связан негативный опыт</td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">85%</span>
                            </td>
                            <td>клиентов ушли из-за плохого обслуживания, которые можно было предотвратить</td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    55%
                                </span>
                            </td>
                            <td>
                                клиентов намеревались сделать покупку, но отказались из-за негатвиного опыта
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    24%
                                </span>
                            </td>
                            <td>
                                клиентов даст второй шанс, если компания будет что-то делать для исправления своих ошибок
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    58%
                                </span>
                            </td>
                            <td>
                                 клиентов будет тратить больше, если компания обеспечивает высокий уровень обслуживания
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    50%
                                </span>
                            </td>
                            <td>
                                клиентов чаще пользуются услугами компании, если их опыт положительный
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    58%
                                </span>
                            </td>
                            <td>
                                клиентов никогда не вернется из-за негативного опыта
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    67%
                                </span>
                            </td>
                            <td>
                                клиентов не уйдет, если их проблемы будут решаться
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    82%
                                </span>
                            </td>
                            <td>
                                прекратили сотрудничество из-за плохого сервиса
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    86%
                                </span>
                            </td>
                            <td>
                                клиентов готовы платить на 25% больше при хорошем обслуживании
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    95%
                                </span>
                            </td>
                            <td>
                                клиентов рассказывают о негативном опыте своим знакомым
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    23%
                                </span>
                            </td>
                            <td>
                                клиентов рассказывают о положительном опыте больше чем 10 знакомым
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    63%
                                </span>
                            </td>
                            <td>
                                читают негативные комментарии в социальных медиа
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    51%
                                </span>
                            </td>
                            <td>
                                компаний работающих на рынке B2B, избегают сотрудничества после получения
                                негативного опыта совместной работы
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    62%
                                </span>
                            </td>
                            <td>
                                компаний работающих на рынке B2B, покупают больше, если обслуживание хорошее
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    66%
                                </span>
                            </td>
                            <td>
                                компаний работающих на рынке B2B прекращают сотрудничество, если есть негативный опыт обслуживания
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    1%
                                </span>
                            </td>
                            <td>
                                клиентов считает, что их запросы полностью удовлетворены
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <span class="attention">
                                    50%
                                </span>
                            </td>
                            <td>
                                инвестиционных проектов направлено на развитие инноваций в управлении клиентским опытом
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <p></p>
                <p>
                    * -
                    <a class="text-muted small" href="http://estebankolsky.com/2015/09/want-real-success-destroy-the-company-centric-customer-experience/">Esteban Kolsky</a>,
                    <a class="text-muted small" href="https://www.zendesk.com/resources/the-impact-of-customer-service/">Zendesk</a>,
                    <a class="text-muted small" href="http://about.americanexpress.com/news/docs/2012x/axp_2012gcsb_us.pdf">American Express</a>,
                    <a class="text-muted small" href="http://www.newvoicemedia.com/blog/the-multibillion-dollar-cost-of-poor-customer-service-infographic/">New voice</a>,
                    <a class="text-muted small" href="http://www.slideshare.net/RightNow/2011-customer-experience-impact-report">RightNow</a>,
                    <a class="text-muted small" href="https://hbr.org/2010/07/stop-trying-to-delight-your-customers">Harvard Business Review</a>,
                    <a class="text-muted small" href="https://www.instituteofcustomerservice.com/files/ICS_UK_Exec_Summary_Jul14web.pdf">Institute of Customer Service</a>
                </p>
                <p></p>

                <h2>Несколько тезисов от консалтинговых компаний</h2>
                <p></p>
                <blockquote>
                    <p class="lead">
                        К 2020 году основным фактором выбора для клиентов будет качество обслуживания, а не цена или бренд.
                    </p>
                    <footer>
                        <a href="http://www.walkerinfo.com/customers2020/">Walker Info</a>
                    </footer>
                </blockquote>
                <p></p>
                <blockquote>
                    <p class="lead">
                        Постоянные клиенты в 5 раз чаще покупают, в 5 раз чаще прощают оплошности, в 4 раза чаще
                        ссылаются на компанию и в 7 раз чаще покупают другие продукты компании.
                    </p>
                    <footer>

                        <a href="https://experiencematters.wordpress.com/category/roi-of-customer-experience/">
                            Temkin Group
                        </a>
                    </footer>
                </blockquote>
                <p></p>
                <blockquote>
                    <p class="lead">
                        Цена не является основной причиной потери клиентов,
                        самые частые причины - низкое качество сервиса и негативный клиентский опыт.
                    </p>
                    <footer>
                        <a href="https://newsroom.accenture.com/subjects/customer-relationship-management/customer-service-not-price-remains-top-cause-customer-churn-accenture-study-finds.htm">
                            Accenture
                        </a>
                    </footer>
                </blockquote>


            </div>
        </div>
        <div style="margin-bottom: 3em;">&nbsp;</div>
    </div>
</div>
</%block>
