<%inherit file="blog_base.html"/>

<%block name="post">
<a name="cases"></a>
<div class="section-a">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-post">
                <h1>
                    4 ситуации, разрушающие отношения с клиентами
                </h1>
                <div style="margin-left: 1em;">
                    <p>
                        Отношения между компанией и клиентами это тоже самое, что и отношения между людьми.
                        С одной стороны, клиенты хотят чтобы отношение к ним было  персональное и внимательное.
                        С другой стороны, клиенты хотят быть независимыми, чтобы компания им не навязывалась и
                        не подавляла.
                    </p>
                </div>
                <div align="right">
                <a href="/blog?post=3">
                    еще...
                </a>
                </div>

                <h1>
                    20 статистических показателей <br> customer experience
                </h1>
                <div style="margin-left: 1em;">
                    <p>
                        Многие руководители признают, что необходимо создавать у клиентов положительный опыт,
                        но они не представляют насколько это влияет на бизнес. Чтобы показать важность управления
                        клиентским опытом, мы привидем некоторые цифры.
                    </p>
                </div>
                <div align="right">
                <a href="/blog?post=2">
                    еще...
                </a>
                </div>

                <h1>
                    Показатель оттока клиентов. Что считать нормой?
                </h1>
                <div style="margin-left: 1em;">
                    <p>
                        В идеальном мире, где клиенты всегда всем довольны, показатель оттока равен 0.
                        К несчастью, в реальности это не так. Независимо от того, насколько идеален ваш продукт или услуги,
                        насколько высоки ваши стандарты качества, клиенты уходят. Существуют “нормальные” или
                        удовлетворительные значения показателя оттока, которых можно достичь и удерживать.
                    </p>
                </div>
                <div align="right">
                <a href="/blog?post=1">
                    еще...
                </a>
                </div>


            </div>
        </div>
        <div style="margin-bottom: 6em;">&nbsp;</div>
    </div>
</div>

</%block>