<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Conversation parser landing page">
    <meta name="author" content="Sergey Fomin, Ramil Galiullin">

    <title>Conversation parser</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Conversation parser</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#connect">Подключиться</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            % if action == "show":
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8
                        col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <form method="post" action="/demo/analyze">
                        <hr style="width: 0px; margin: 30px">
                        <p class="lead">Предмет</p>
                        <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                        <hr style="width: 60%; margin: 10px">
                        <div style="width: 40%;">
                            <button type="submit" class="btn btn-success btn-block">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
            % elif action == "show_classify":
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8
                        col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                        <hr style="width: 0px; margin: 30px">
                        <p class="lead">Вы написали:</p>
                        <p class="lead">${description}</p>
                        <hr style="width: 60%; margin: 10px">
                        % if result[0] == "edible":
                            <h3>это Съедобный предмет</h3>
                        % elif result[0] == "inedible":
                            <h3>это Несъедобный предмет</h3>
                        % else:
                            <h3>не могу определить</h3>
                        % endif
                        <hr style="width: 60%; margin: 20px">
                    <p class="lead">Независимо от результата, укажите пожалуйста, правильный вариант.</p>
                    <p class="lead">Ваш ответ мы используем для повышения точности анализа.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" align="center">
                    </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" align="center">
                    <a href="${main_link}${train_uuid}/edible" class="btn btn-default btn-block" role="button">Съедобный
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" align="center">
                    <a href="${main_link}${train_uuid}/inedible" class="btn btn-default btn-block" role="button">
                        Несъедобный</a>
                </div>
            </div>
            % elif action == "train":
            train
            % endif

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <p class="copyright text-muted small">Copyright &copy; Conversation parser 2015. All Rights
                        Reserved</p>
                </div>
                <div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.facebook.com/Conparser">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Google Analytics JavaScript -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-70024318-1', 'auto');
          ga('send', 'pageview');
     </script>

</body>

</html>
