<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Мониторинг коммуникаций</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/flaticon.css">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--
            <a class="navbar-brand" href="#">Project name</a>
            -->
          <a class="navbar-brand" href="/">
              <i class="fa fa-rocket fa-lg" aria-hidden="true" style="color: #0083dd;"></i>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#problems">Кейсы</a></li>
            <li><a href="#product">Решение</a></li>
            <li><a href="#howto">Как все устроено</a></li>
            <!-- <li><a href="#security">Безопасность</a></li> -->
            <li><a href="#price">Цена</a></li>
            <li><a href="#demo">Демо</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="header">
      <div class="container">
        <div class="starter-template">
          <h1 class="header-phrase">CONVERSATION <span class="parser-word">PARSER</span></h1>
          <p class="lead subheader-phrase">мониторинг коммуникаций с клиентами</p>
        </div>

      </div><!-- /.container -->
    </div>

    <a name="problems"></a>
    <div class="section-a"> <!-- light -->
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">КЕЙСЫ</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Скрытые конфликты
            </p>
            <p>
              Как обнаружить <span class="attention">ошибки</span> менеджеров, приводящие к
                <span class="attention">недовольству клиентов</span>.
            </p>
            <p>
                Как правило, клиенты указывают на ошибки, но менеджеры стараются скрыть их.
            </p>
            <p>
                Никто не обнаружит проблему и не займется ее анализом, чтобы предотвратить в будущем.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Сложные ситуации
            </p>
            <p>
              Как помочь неопытным менеджерам в <span class="attention">сложной</span> ситуации?
                </p>
              <p>
              <span class="attention">Когда</span> подключить опытного сотрудника,
                  который быстро и эффективно разрешит ситуацию, чтобы <span class="attention">клиент остался доволен?</span>
              </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Проблемы в общении
            </p>
            <p>
              Время реакции на запрос клиента - важный показатель.
            </p>
            <p>
              Как отвечать <span class="attention">вовремя</span>?
            </p>
          </div>
        </div>

        <div class="row" style="height: 100px;">
          <div class="col-md-12" align="center">

              <div id="curly-brace">
                  <div id="left" class="brace"></div>
                  <div id="right" class="brace"></div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-footer">ПОТЕРЯ ДОХОДОВ</h1>
            <p class="lead">
                В зависимости от отрасли от <span class="attention">50%</span> до
                <span class="attention">67%</span> ушедших клиентов указывают причину -<br>
                <span class="attention">недостаточное качество сервиса</span>.
            </p>
          </div>
        </div>
          <br>
          <br>
      </div>
    </div>

    <a name="product"></a>
    <div class="section-b"> <!-- stripe -->
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">РЕШЕНИЕ</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>
                Мы создали <span class="attention">“робота”</span> -  универсального сотрудника отдела контроля качества.
                </p>
              <p>
                Его задача просматривать всю переписку с клиентами, сообщать о возникших проблемах и подсказывать,
                что делать дальше.</p>
              <p>
                Напоминать об ответах и собирать информацию о работе сотрудников.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Основные возможности
            </p>
              <div class="table-responsive">
                <table border="0" valign="center" class="table-1-padding" align="left">
                    <tbody>
                    <tr>
                        <td width="10%" class="table-td-padding" align="right">
                            <i class="fa fa-question-circle-o fa-5x" aria-hidden="true"  style="color: #0083dd;"></i>
                        </td>
                        <td width="40%" class="table-td-padding">
                            Автоматическая диагностика проблем по содержанию переписки и эскалация
                        </td>
                        <td width="10%" class="table-td-padding" align="right">
                            <i class="fa fa-tachometer fa-5x" aria-hidden="true"  style="color: #0083dd;"></i>
                        </td>
                        <td width="40%" class="table-td-padding">
                            Контроль по нескольким критериям (например, скорость ответов, время сделки)
                        </td>
                    </tr>
                    <tr>
                        <td width="10%" class="table-td-padding" align="right">
                            <i class="fa fa-cogs fa-5x" aria-hidden="true"  style="color: #0083dd;"></i>
                        </td>
                        <td width="40%" class="table-td-padding">
                            Интеграция с любым текстовым каналом коммуникаций (CRM, мессенджеры, чаты, социальные сети)
                        </td>
                        <td width="10%" class="table-td-padding" align="right">
                            <span class="fa-stack fa-3x" style="color: #0083dd;">
                                <i class="fa fa-sun-o fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x"></i>
                            </span>
                        </td>
                        <td width="40%" class="table-td-padding">
                            Сплошной мониторинг всех сообщений
                        </td>
                    </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Ценность
            </p>
            <p>
                Используйте “робота” <span class="attention">для расширения</span> команды или
                <span class="attention">вместо создания</span> отдела контроля качества.
                </p>
              <p>
                Он справится с задачей мониторинга <span class="attention">эффективнее</span> человека.
            </p>
            <ul class="custom-list fa-ul">
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Больше обнаруженных и решенных проблем
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Больше удовлетворенных клиентов
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Больше информации о происходящем
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Работа 24/7
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Не требуется увеличивать штат и расходы
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Не надо долго учить и контролировать сотрудников
                </li>
                <li><i class="fa fa-plus" aria-hidden="true" style="color: #0083dd;"></i>
                    Нет расходов на рабочие места
                </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              Экономика
            </p>
            <p>
                Использование «робота» в
                <span class="attention">несколько раз</span> выгоднее
                <span class="attention">найма новых</span> сотрудников или
                <span class="attention">создания отдела</span> контроля качества
            </p>
            <div class="table-responsive">
            <table class="table-padding" border="0" align="center">
                <tbody>
                <tr valign="center">
                    <td width="100px" height="100px">
                        <!--<i class="fa fa-laptop fa-5x" aria-hidden="true" style="color: #0083dd;"></i> -->
                        <i class="flaticon-technology-1" aria-hidden="true"
                           style="color: #0083dd;"></i>
                    </td>
                    <td>
                        <div style="width:1em;height:1.5em" class="brace_part1"></div>
                        <div style="width:1em;height:1.5em" class="brace_part2"></div>
                        <div style="width:1em;height:1.5em" class="brace_part3"></div>
                        <div style="width:1em;height:1.5em" class="brace_part4"></div>
                    </td>
                    <td>
                        <b>500, 1 000, 10 000</b> сообщений в день <br>
                        <b>24</b> часа, <b>365</b> дней <br>
                        Оплата за <b>количество сообщений</b> <br>
                        <b>Нет налогов</b> (ПФР, ФСС, ФНС)
                    </td>
                    <td>
                        <div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                        </div>
                    </td>
                    <td>
                        <div>
                        от <span class="attention-2">30</span> т.р.
                        в месяц
                        </div>
                    </td>
                </tr>
                <tr><td colspan="5" height="20px"></td></tr>
                <tr>
                    <td width="100px" height="100px">
                        <i class="fa fa-users fa-5x" aria-hidden="true" style="color: #0083dd;"></i>
                    </td>
                    <td>
                        <div style="width:1em;height:1.75em" class="brace_part1"></div>
                        <div style="width:1em;height:1.75em" class="brace_part2"></div>
                        <div style="width:1em;height:1.75em" class="brace_part3"></div>
                        <div style="width:1em;height:1.75em" class="brace_part4"></div>
                    </td>

                    <td>
                        Максимум <b>3 х 200</b> сообщений в день <br>
                        <b>8</b> часов, <b>5</b> рабочих дней <br>
                        Рабочие места, обучение <br>
                        Отпуска, болезни, увольнения <br>
                        <b>3 зарплаты и налоги</b>
                    </td>
                    <td>
                        <div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                        </div>
                    </td>
                    <td>
                        <div>
                        от <span class="attention-2">200</span> т.р. в месяц
                            </div>
                    </td>
                </tr>
                </tbody>
            </table>
                  </div>

          </div>
        </div>
          <br>
          <br>

      </div>
    </div>

    <a name="howto"></a>
    <div class="section-a"> <!-- white -->
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">Как все устроено</h1>
          </div>
        </div>

        <link href="/static/css/timeline.css" rel="stylesheet">
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image" align="center">
                            <span style="font-size: 2em;"><br>Шаг 1</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Обучаем «робота» под ваш бизнес, <br>
                                    чтобы он учитывал особенности вашего <br>
                                    общения с клиентами (сленг, термины).
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" align="center">
                            <span style="font-size: 2em;"><br>Шаг 2</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Настраиваем перенаправление сообщений «роботу» (в сервис).
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image" align="center">
                            <span style="font-size: 2em;"><br>Шаг 3</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    По каждому сообщению проводим анализ и если сработало одно из условий (была обнаружена проблема), уведомляем вас.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" align="center">
                            <span style="font-size: 2em;"><br>Шаг 4</span>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    В уведомления включается описание ситуации, вся переписка включая подозрительное сообщение и что делать дальше.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


          <!--
        <div class="row">
          <div class="col-md-12">
            <p>
                Обучаем “робота” под ваш бизнес, чтобы он учитывал особенности вашего общения с клиентами (сленг, терминологию).
            </p>
            <p>
                Настраиваем перенаправление сообщений "роботу" (в сервис).
            </p>
            <p>
                По каждому сообщению проводим анализ и если сработало одно из условий (была обнаружена проблема), уведомляем вас.
            </p>
            <p>
                В уведомления включается описание ситуации, вся переписка включая подозрительное сообщение и что делать дальше.
            </p>

          </div>
        </div>
        -->

        <div class="row">
          <div class="col-md-12">
            <p class="section-subheader">
              ВАЖНЫЕ ОСОБЕННОСТИ
            </p>
            <ul class="custom-list fa-ul">
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    «Робот» <span class="attention">не использует</span> фильтрацию по конкретным словам
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    В основе лежат алгоритмы <span class="attention">искусственного интеллекта и машинного обучения</span>
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    «Робот» <span class="attention">научится</span> определять <span class="attention">важные для вас ситуации</span>
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    «Робот» учитывает обратную связь и становится более точным
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    <span class="attention">Отсутствие нового интерфейса</span> для пользователей
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    Время на обучение персонала <span class="attention">не требуется</span>, сотрудники работают, как и раньше
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    Сотрудники получают уведомления и варианты действий по <span class="attention">решению проблем</span>
                </li>
            </ul>
          </div>
        </div>
          <br>
          <br>

      </div>
    </div>

    <!--
    <a name="security"></a>
    <div class="section-b">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">БЕЗОПАСНОСТЬ</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>
                Для каждого клиента создается отдельная виртуальная инфраструктура.
                </p>
              <p>
                Коммуникация c сервисом происходит по протоколу <span class="attention">HTTPS</span>
                с использованием авторизации по паролям или одноразовым токенам.
            </p>
          </div>
        </div>
          <hr>
      </div>
    </div>
    -->

    <a name="price"></a>
    <div class="section-b">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">Цена</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
           <p>
                Услуги оплачиваются <ежемесячно></ежемесячно>.
            </p>
            <p>
                Стоимость использования складывается из двух частей <span class="attention">фиксированной и переменной</span>.
            </p>
            <p>
                Фиксированный платеж - <span class="attention">20 000</span> рублей в месяц.
                </p>
            <p>
                Переменный платеж, рассчитывается на основе количества обработанных сообщений:
            </p>
            <ul class="fa-ul">
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    70 копеек, до 20 000 сообщений в месяц;
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    60 копеек, до 50 000 сообщений в месяц;
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    50 копеек, свыше 50 000 сообщений в месяц.
                </li>
            </ul>
          </div>
        </div>
          <hr>
      </div>
    </div>

    <a name="demo"></a>
    <div class="section-a">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1 class="section-header">ПИЛОТНЫЙ ПРОЕКТ</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="fa-ul">
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    Проведем настройку и интеграцию с вашей ИТ системой
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    Обучим «робота» под ваш бизнес
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true" style="color: #0083dd;"></i>
                    2 недели «робот» будет работать с вашими реальными ситуациями и вы получите практический результат
                </li>
            </ul>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="center">
              <div style="margin-top: 3em; margin-bottom: 5em;">
                  <form class="form-inline" action="/promo" method="post">
                      <input type="text" class="form-control input-lg" placeholder="введите промо-код"
                             aria-describedby="helpBlock" name="qr" value="">
                      <button class="btn btn-success btn-lg">Узнать подробнее</button>
                      <span id="helpBlock" class="help-block small">оставьте пустое поле, если промо-кода нет</span>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <a name="contacts"></a>
    <footer style="background-color: #eee;">
                  <br>
          <br>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
                <p class="text-muted small">Email: <a href="mailto:info@conparser.ru">info@conparser.ru</a></p>
                <p class="text-muted small">Телефон: +79117801258</p>
          </div>
          <div class="col-md-4">
              <br>
          </div>
          <div class="col-md-5">
                <a href="/static/docs/conversation_parser_confident_policy.pdf">
                    <p class="text-muted small">Политика конфиденциальности</p>
                </a>
                <p class="text-muted small">ООО "Парсер"</p>
                <p class="text-muted small">ИНН 1660263520 ОГРН 1161690064953
                <p class="text-muted small">191036, г. Санкт-Петербург, ул. 5-я Советская, 31-33</p>
                <p class="text-muted small">&copy; Conversation parser 2016</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="http://www.freepik.com/free-vector/colorful-wave-background_779764.htm">
                <span style="font-size: 0.5em; color: #ccc;">Image designed by Freepik</span>
            </a>

          </div>
        </div>

      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
