<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Вовремя узнайте о письмах от клиентов, оставшихся без ответа.">
    <meta name="description"
          content="Инструмент контроля коммуникаций с клиентами.
          Вовремя узнайте о письмах от клиентов, оставшихся без ответа. Узнайте о переписке приводящей к конфликту.
          Возьмите ситуацию под контроль и сохраните клиента.
          ">
    <meta name="author" content="Sergey Fomin, Ramil Galiullin">
    <meta name="keywords" content="лояльность клиентов, качество услуг,
     работа с клиентами, customer service, customer experience,
      отдел обслуживания клиентов,машинное обучение, machine learning,внимательность к клиенту,
      внимательность к клиентам, контроль переписки с клиентами, доверительные отношения с клиентами,
      удержать клиента, уведомление при получении жалобы, сохраните лояльность клиента, сохранить лояльность клиента,
      как сохранить лояльность клиента, статистика по проблемам клиентов, проблемы клиентов статистика,
      обработка обращений клиентов">

    <meta name='yandex-verification' content='4e1f26d1caf58644' />

    <meta name="google-site-verification" content="ENZ2h13IhKof0AZ8zWaJfWULSQSnl1qVhCqnpjaEUFI" />
    <title>Conversation parser</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '959952434112254');
        fbq('track', "PageView");
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=959952434112254&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Conversation parser</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="mailto:info@conparser.ru">info@conparser.ru</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">
                    <div class="intro-message">
                        % if user_agent.is_mobile or user_agent.is_tablet:
                            <h2>
                                Вовремя узнайте <br>о письмах от клиентов, <br> оставшихся без ответа
                            </h2>
                            <h4>
                                узнайте о переписке приводящей к конфликту, <br>
                                возьмите ситуацию под контроль и сохраните клиента
                            </h4>
                            <hr style="width: 60%; margin: 50px">
                            <div style="width: 60%;">
                                <a href="#connect" class="btn btn-success btn-lg btn-block">
                                    14 дней бесплатно
                                </a>
                            </div>
                        % else:
                            <h1>
                                Вовремя узнайте <br>о письмах от клиентов, <br> оставшихся без ответа
                            </h1>
                            <h3>
                                узнайте о переписке приводящей к конфликту, <br>
                                возьмите ситуацию под контроль и сохраните клиента
                            </h3>
                            <hr style="width: 60%; margin: 50px">
                            <div style="width: 60%;">
                                <a href="#connect" class="btn btn-success btn-lg btn-block" type="button">
                                    14 дней бесплатно
                                </a>
                            </div>
                        % endif
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div
                        class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        100% клиентов получают ответ
                    </h2>
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                       Ничего не оставляет настолько отрицательного впечатления у клиента, <br>
                        как письмо без ответа.
                    </p>
                    <p class="lead">
                        Мы знаем, как с этим <a href="#connect">бороться</a>.
                    </p>
                    <p class="lead">
                        Если ответа нет дольше необходимого времени, мы сообщаем об этом тем, <br>
                        кто в силах повлиять на ситуацию.
                    </p>
                    <p class="lead">
                        И через
                        <a tabindex="0" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="top"
                           data-content="Время ответа по стандартным настройкам. Вы можете указать свое.">
                            3 часа
                        </a>
                        , мы отправляем клиенту
                        <a tabindex="0" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="top"
                           data-content="Ответ соответствует смыслу и контексту исходного письма. Если задан вопрос,
                           от имени сотрудника сообщаем, что вопрос получен и ответ скоро будет отправлен.
                           Если это информационное письмо, отправляем благодарность и т.д.">
                            персональное сообщение
                        </a>
                        , чтобы он не чувствовал себя забытым.
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Решите 80% конфликтов до их начала
                    </h2>
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                        Грубость, неадекватность или не соответствие писем
                        <a tabindex="0" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="top" data-html="true"
                           data-content="Стиль ведения деловой переписки оказывают серьезное влияние на имидж компании,
                           отношение клиентов к Вам. <br> Мы учитываем это при анализе.">

                           <!--
                           data-content="Стиль ведения деловой переписки оказывают серьезное влияние на имидж компании,
                           отношение клиентов к вам. Мы подготовили <a href='#'>памятку с правилами</a>,
                           используйте ее в своей работе.">
                           -->
                            правилам переписки
                        </a>
                        , становятся причиной конфликта.
                    </p>
                    <p class="lead">
                        Мы определяем 80% писем приводящих к активному конфликту на ранней стадии.
                    </p>
                    <p class="lead">
                        Уведомляем вас,
                        <a tabindex="0" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="top" data-html="true"
                           data-content="Для этой функции требуется тесная интеграция с электронной почтой.<br>
                                         Мы реализуем эту функцию для каждого клиента индивидуально.
                                        ">
                            задерживаем отправку
                        </a>
                        сообщения и Вы сохраняете клиента.
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2
                 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Проверяем всю переписку без исключений
                    </h2>
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                        100% поступающих сообщений проверяется в автоматическом режиме, <br>
                        вы <mark>не тратите время</mark> на ручной анализ писем.
                    </p>
                    <p class="lead">
                       Вы получите уведомление о ситуации через <mark>ДВЕ</mark> минуты.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="connect"></a>
    % if user_agent.is_mobile or user_agent.is_tablet:
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Взять переписку под контроль - 0 рублей</h2>
                    <hr style="width: 150px; margin: 50px">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                    <br>
                    <p class="lead">
                        2-х недельный <mark>бесплатный</mark> ознакомительный режим для 5 адресов.
                    </p>
                    <p class="lead">
                        <mark>14 дней</mark> мы будем анализировать письма и сообщать вам:
                    </p>
                    <ul>
                        <li class="lead">
                            о письмах без ответа (или если ответ отправлен через 3 часа и больше); <br>
                        </li>
                        <li class="lead">
                            о подозрениях на грубые и неадекватные сообщения;
                        </li>
                        <li class="lead">
                            о сообщениях потенциально приводящих к конфликту;
                        </li>
                        <li class="lead">
                            о несоответствии правилам деловой переписки*.
                        </li>
                    </ul>
                    <p>
                        <a tabindex="0" role="button" data-toggle="popover" class="text-muted"
                           data-trigger="focus" data-placement="top" data-html="true"
                           data-content="
                                Информация предоставляется через <b>3 часа</b> после получения сообщений.<br>
                                Форма отчетности: документ в GoogleDoc с анализом каждого письма по признакам:<br>
                           <ul>
                                <li>время прошедшее до ответа;</li>
                                <li>подозрение на конфликт;</li>
                                <li>наличие грубости и неадекватность;</li>
                                <li>отсутствие темы;</li>
                                <li>отсутствие приветствия;</li>
                                <li>отсутствие подписи;</li>
                                <li>наличие жаргона и канцеляризмов.</li>
                                </ul>
                                ">
                            Что включено в ознакомительный режим
                        </a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <form action="/send_contacts_demo" method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input type="text" class="form-control" id="name" name="customer_name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="customer_email">
                        </div>
                        <div class="checkbox" align="left">
                            <label>
                                <input type="checkbox" required name="pd">
                                <span style="font-size: 10px; align: left;" class="text-muted">
                                    Указывая имя, адрес электронной почты и нажимая «Взять переписку под контроль»,
                                        вы соглашаетесь с политикой
                                    конфиденциальности, а так же даёте согласие на обработку персональных данных
                                    в соответсвии с ФЗ от 27.07.2006 года № 152-ФЗ "О персональных данных"
                                </span>
                            </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-block btn-success">
                              <b>Взять переписку под контроль</b>
                        </button>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                        Взаимодействие с сервисом происходит по электронной почте,
                        вам не требуется переучивать персонал, менять рабочие инструкции и процессы.

                    </p>
                    <p class="lead">
                       Для подключения не нужны сложные изменения в инфраструктуре,
                        настройте переадресацию и получайте информацию о письмах.
                    </p>

                </div>
            </div>

        </div>
    </div>

    %else:
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Взять переписку под контроль - 0 рублей</h2>
                    <hr style="width: 150px; margin: 50px">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" align="center">
                    <form action="/send_contacts_demo" method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input type="text" class="form-control" id="name" name="customer_name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="customer_email">
                        </div>
                        <div class="checkbox" align="left">
                            <label>
                                <input type="checkbox" required name="pd">
                                <span style="font-size: 10px; align: left;" class="text-muted">
                                    Указывая имя, адрес электронной почты и нажимая «Взять переписку под контроль»,
                                        вы соглашаетесь с политикой
                                    конфиденциальности, а так же даёте согласие на обработку персональных данных
                                    в соответсвии с ФЗ от 27.07.2006 года № 152-ФЗ "О персональных данных"
                                </span>
                            </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-block btn-success">
                              <b>Взять переписку под контроль</b>
                        </button>
                    </form>

                </div>

                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <br>
                    <p class="lead">
                        2-х недельный <mark>бесплатный</mark> ознакомительный режим для 5 адресов.
                    </p>
                    <p class="lead">
                        <mark>14 дней</mark> мы будем анализировать письма и сообщать вам:
                    </p>
                    <ul>
                        <li class="lead">
                            о письмах без ответа (или если ответ отправлен через 3 часа и больше); <br>
                        </li>
                        <li class="lead">
                            о подозрениях на грубые и неадекватные сообщения;
                        </li>
                        <li class="lead">
                            о сообщениях потенциально приводящих к конфликту;
                        </li>
                        <li class="lead">
                            о несоответствии правилам деловой переписки*.
                        </li>
                    </ul>
                    <p>
                        <a tabindex="0" role="button" data-toggle="popover" class="text-muted"
                           data-trigger="focus" data-placement="top" data-html="true"
                           data-content="
                                Информация предоставляется через <b>3 часа</b> после получения сообщений.<br>
                                Форма отчетности: документ в GoogleDoc с анализом каждого письма по признакам:<br>
                           <ul>
                                <li>время прошедшее до ответа;</li>
                                <li>подозрение на конфликт;</li>
                                <li>наличие грубости и неадекватность;</li>
                                <li>отсутствие темы;</li>
                                <li>отсутствие приветствия;</li>
                                <li>отсутствие подписи;</li>
                                <li>наличие жаргона и канцеляризмов.</li>
                                </ul>
                                ">
                            Что включено в ознакомительный режим
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" align="center">
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                        Взаимодействие с сервисом происходит по электронной почте,
                        вам не требуется переучивать персонал, менять рабочие инструкции и процессы.

                    </p>
                    <p class="lead">
                       Для подключения не нужны сложные изменения в инфраструктуре,
                        настройте переадресацию и получайте информацию о письмах.
                    </p>

                </div>
            </div>

        </div>
    </div>
    % endif

	<a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2
                 col-sm-offset-2 col-xs-offset-2" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Тарифы
                    </h2>
                    <hr style="width: 150px; margin: 50px">
                    <p class="lead">
                        Наблюдение за перепиской с 1 адреса - 1 500 рублей в месяц.
                    </p>
                    <p class="lead">
                       Без ограничения количества адресов - 30 000 рублей в месяц.
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Блог
                    </h2>
                    <hr style="width: 150px; margin: 50px">
                    <div id="blog-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#blog-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blog-carousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a target="_blank"
                                        href="https://www.facebook.com/notes/conversation-parser-conparser/%D0%BD%D0%BE%D0%B2%D1%8B%D0%B5-%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81-%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B8/1672279149719194">
                                <img src="/static/img/blog_post1_title.jpg" alt="Новые инструменты бизнес-аналитики">
                                <div class="carousel-caption">
                                    <h3>Новые инструменты бизнес-аналитики</h3>
                                    <p>
                                        В современных условиях ведения бизнеса многие компании сталкиваются с
                                        проблемами качества коммуникации. На первый взгляд, автоматически
                                        контролировать качество общения не представляется возможным.
                                        Тем не менее использование интеллектуального анализа данных
                                        дает такие инструменты
                                    </p>
                                </div>
                                </a>
                            </div>
                            <!--
                            <div class="item">
                                <img src="/static/img/blog_post2_title.jpg"
                                     alt="Дисциплина в email. Отвечаем на письма вовремя.">
                                <div class="carousel-caption">
                                    <h3>Дисциплина в email. Отвечаем на письма вовремя.</h3>
                                    <p>
                                        Электронной почте уже более 50 лет. С уверенностью можно сказать, что это одна
                                        из самых архаичных технологий, которая до сих пор с нами и не собирается
                                        меняться.
                                        По факту, электронную почту нечем заменить.
                                        Мы используем почту в работе и пишем десятки писем ежедневно.
                                    </p>
                                </div>
                            </div>
                            -->
                        </div>
                        <a class="left carousel-control" href="#blog-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Назад</span>
                        </a>
                        <a class="right carousel-control" href="#blog-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Вперед</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="center">

                    <a href="#">Наверх</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <div class="fb-like"
                                 data-href="https://www.facebook.com/Conparser" data-width="100" data-layout="button"
                                 data-action="like" data-show-faces="false" data-share="true">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#"><p class="text-muted small">Соглашение о конфиденциальности</p></a>
                    <p class="text-muted small">ООО "Парсер", г. Казань, ул. Отрадная, 18</p>
                    <!--<p class="text-muted small">ИНН 99900099 ОГРН 7377373737</p> -->
                    <p class="text-muted small">&copy; Conversation parser 2016</p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" align="right">

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.js"></script>

    <!-- Google Analytics JavaScript -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-70644861-1', 'auto');
          ga('send', 'pageview');

    </script>
    <!--
    <script type="text/javascript">

        var ZCallbackWidgetLinkId  = '6de5c0ba26b1c478e8e8ac357cc37274';
        var ZCallbackWidgetDomain  = 'ss.zadarma.com';
        (function() {
            var lt = document.createElement('script');
            lt.type ='text/javascript';
            lt.charset = 'utf-8';
            lt.async = true;
            lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js?unq='+Math.floor(Math.random(0,1000)*1000);
            var sc = document.getElementsByTagName('script')[0];
            if (sc) sc.parentNode.insertBefore(lt, sc);
            else document.documentElement.firstChild.appendChild(lt);
        })();
    </script>
    -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=186105774764654";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
</body>

</html>
