<%inherit file="control_center_base.html"/>

<%block name="title">

    <title>Авторизация</title>
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

</%block>

<%block name="navigation">
</%block>

<%block name="menu">
</%block>

<%block name="base">

<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" align="center">
          <div style="margin-top: 3em; margin-bottom: 0em;">
              <h1>Панель управления</h1>
          </div>
          <div style="margin-top: 3em; margin-bottom: 5em;">
              <form class="form" action="/control-center/auth/login" method="post">
                  <lable>
                      <p class="text-muted">${msg}</p>
                  </lable>
                  <input hidden type="text" value="${from_page}" name="from_page">
                  <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Имя пользователя"
                         required autofocus name="username" width="40%" value="elena">
                  </div>
                  <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Пароль"
                         required name="password" value="demopass">
                  </div>
                  <button class="btn btn-block btn-lg btn-primary" type="submit">Вход</button>
              </form>
          </div>
      </div>
    </div>
</div>


</%block>

<%block name="footer">
<div class="row">
    <p class="text-center">v 0.1</p>
</div>
</%block>