<%inherit file="control_center_base.html"/>

<%block name="title">
    <title>Панель управления - Статистика</title>
    <script src="/static/js/Chart.bundle.js"></script>
</%block>

<%block name="navigation">
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navbar-style">
        <li><a href="/control_center/dialogs/warning">Обратить внимание</a></li>
        <li><a href="/control_center/dialogs/all">Смотреть Все</a></li>
        <li><a href="/control_center/tasks">Задачи</a></li>
        <li class="dropdown active">
            <a href="/control_center/staistics" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true"
             aria-expanded="false">
                Статистика
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <!--
                <li><a href="/control_center/statistics/clients">Клиенты</a></li>
                <li><a href="/control_center/statistics/employee">Сотрудники</a></li>
                -->
                <li><a href="/control_center/statistics/management" >Общая</a></li>
                <li class="active"><a href="/control_center/statistics/system" >Системная</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                ${session_context["user"].name}
                ${session_context["user"].surname}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/control_center/settings">Настройки</a></li>
                <li><a href="/control_center/profile">Профиль</a></li>
                <li><a href="/control_center/help?menu=" >Помощь</a></li>
                <li><a href="/control_center/auth/logout">Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
</%block>


<%block name="base">
<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <%
            end_date2 = (now - delta1(days=(1 + now.weekday()))).strftime('%d-%m-%Y')
            end_date4 = (now - delta1(days=(now.day))).strftime('%d-%m-%Y')

            start_date1 = (now - delta1(days=now.weekday())).strftime('%d-%m-%Y')
            start_date2 = (now - delta1(days=(7 + now.weekday()))).strftime('%d-%m-%Y')
            start_date3 = "01-%s-%s" % (now.month, now.year)
            if (now.month - 1) == 0:
                start_date4 = "01-01-%s" % (now.year - 1)
            else:
                start_date4 = "01-%s-%s" % (now.month - 1, now.year)
        %>
        <a class="btn btn-info" href="system?start_date=${start_date1}&end_date=${now.strftime('%d-%m-%Y')}">
            Текущая неделя
        </a>
        <a class="btn btn-info" href="system?start_date=${start_date2}&end_date=${end_date2}">
            Предыдущая неделя
        </a>
        <a class="btn btn-info" href="system?start_date=${start_date3}&end_date=${now.strftime('%d-%m-%Y')}">
            Текущий месяц
        </a>
        <a class="btn btn-info" href="system?start_date=${start_date4}&end_date=${end_date4}">
            Предыдущий месяц
        </a>
        <div style="margin-bottom: 3em;"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <%
            full = agr[agr.keys()[0]]
        %>
        <p>
            В период с
            <span class="attention"> ${full["start_date"].strftime("%d-%m-%Y")} </span> по
            <span class="attention"> ${full["end_date"].strftime("%d-%m-%Y")} </span>
        </p>
        <p>
            Обработано сообщений : <span class="attention">${full["msg_all"]}</span>
        </p>
        <p>
            Общая точность : <span class="attention">${'{:2.1f}'.format(full["full_accuracy"]*100)} % </span>
        </p>
        %for one in cat.keys():
            <h3>
                ${cat[one].category}
            </h3>
            <p>
                Всего <span class="attention">${agr[one]["msg_in_cat"]}</span> сообщений в категории,
                проверено  <span class="attention">${agr[one]["msg_in_cat_check"]}</span>
            </p>
            <p>
                Пользователями при проверке исправлено
                <span class="attention">${agr[one]["msg_in_cat_wrong"]}</span> ошибок.
            </p>
            <p>
                Точность классификации в этой категории :
                <span class="attention">${'{:2.1f}'.format(agr[one]["accuracy_in_cat"]*100)} %</span>
            </p>
            <a data-toggle="collapse" href="#collapse_${one}" aria-expanded="false" aria-controls="collapse_${one}">
                Статистика по дням
            </a>
            <div class="collapse" id="collapse_${one}">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>День</th>
                        <th>Кол-во сообщений</th>
                        <th>Проверено</th>
                        <th>Исправлено</th>
                    </tr>
                    </thead>
                    <tbody>
                    %for day, c, data in dbd:
                    %if c == one:
                    <tr>
                        <td>${day.strftime("%d-%m-%Y")}</td>
                        <td>${data.msg_in_cat}</td>
                        <td>${data.msg_in_cat_check}</td>
                        <td>${data.msg_in_cat_wrong}</td>
                    </tr>
                    %endif
                    %endfor
                    </tbody>
                </table>
            </div>
        %endfor
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12" align="left">

        <canvas id="myChart" width="800" height="600"></canvas>

    </div>
</div>




</%block>




<%block name="footer"/>
