<%inherit file="control_center_base.html"/>

<%block name="title">
  <title>Панель управления</title>
</%block>

<%block name="navigation">
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navbar-style">
        <li class="active"><a href="actions">События</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                ${session_context["user"].name}
                ${session_context["user"].surname}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="settings">Настройки</a></li>
                <li><a href="profile">Профиль</a></li>
                <li><a href="/help?menu=" >Помощь</a></li>
                <li><a href="auth/logout">Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
</%block>


<%block name="base">

<div class="row">
    <div class="col-sm-12 col-md-12" align="center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a href="/control_center/?day=${(cur_day - delta).strftime('%d-%m-%Y')}">
                        ${(cur_day - delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li class="active">
                    <a href="/control_center/?day=${cur_day.strftime('%d-%m-%Y')}">
                        ${cur_day.strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <a href="/control_center/?day=${(cur_day + delta).strftime('%d-%m-%Y')}">
                        ${(cur_day + delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
          </ul>
        </nav>

    </div>
</div>

%if actions != []:
    %for one in actions:
    <div class="row">
        <div class="col-sm-12 col-md-12" align="left">
            %if actions_train_api[one.message_id].user_action:
            <div class="panel panel-default">
            %else:
            <div class="panel panel-warning">
            %endif
                <div class="panel-heading" align="right">
                    <a href="/control_center/show_full_thread?msg_id=${one.message_id}" target="_blank"
                       title="Полная переписка">
                        <i class="fa fa-list-alt fa-2x"></i>
                    </a>
                    |
                    %if actions_train_api[one.message_id].user_action:
                    ${category[actions_train_api[one.message_id].user_answer].category}
                    %else:
                    <span>
                        <a href="${main_link}${actions_train_api[one.message_id].uuid}/${category.keys()[0]}">
                            ${category.values()[0].category}
                        </a>
                        <a href="${main_link}${actions_train_api[one.message_id].uuid}/${category.keys()[1]}">
                            ${category.values()[1].category}
                        </a>
                    </span>
                    %endif
                    |
                    %if one.message_id in tasks.keys():
                        %if tasks[one.message_id].status == 2:
                            <a href="/control_center/task?uuid=${tasks[one.message_id].uuid}" title="Проблема решена">
                                <i class="fa fa-check-circle-o fa-2x text-success"></i>
                            </a>
                        %else:
                            <a href="/control_center/task?uuid=${tasks[one.message_id].uuid}" title="Проблема не решена">
                                <i class="fa fa-question-circle fa-2x text-danger"></i>
                            </a>
                        %endif
                    %else:
                        <a href="/control_center/create_task?msg_id=${one.message_id}" title="Требуется действие">
                            <i class="fa fa-question-circle fa-2x text-danger"></i>
                        </a>
                    %endif



                </div>
                <div class="panel-heading">
                    <p><span class="attention">Дата:</span> ${one.orig_date.strftime('%d-%m-%Y')}</p>
                    <p><span class="attention">От кого:</span> ${one.sender_name} (${one.sender})</p>
                    <p><span class="attention">Кому:</span> ${one.recipients_name} (${one.recipients})</p>
                    <p><span class="attention">Тема:</span> ${one.message_title}</p>
                </div>
                <div class="panel-body">
                    ${one.message_text}
                </div>
            </div>
        </div>

    </div>
    %endfor
%endif

</%block>




<%block name="footer"/>
