<%inherit file="control_center_base.html"/>

<%block name="title">
  <title>Панель управления - Задача</title>
</%block>

<%block name="navigation">
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navbar-style">
        <li><a href="/control_center">События</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                ${session_context["user"].name}
                ${session_context["user"].surname}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="active"><a href="settings">Настройки</a></li>
                <li><a href="profile">Профиль</a></li>
                <li><a href="/help?menu=" >Помощь</a></li>
                <li><a href="auth/logout">Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
</%block>


<%block name="base">

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <div align="center">
            <h2>Задача по событию</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><span class="attention">Статус: </span> ${task_status[task.status]}</p>
                <p><span class="attention">Ответственный: </span> ${responsible.name} ${responsible.surname}</p>
            </div>
            <div class="panel-heading">
                <p><span class="attention">Комментарии</span></p>
            </div>
            <div class="panel-body">
                ${task.comment}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <p align="center"><h3>Сообщение</h3></p>
            </div>
            <div class="panel-heading">
                <p><span class="attention">Дата:</span> ${message.orig_date.strftime('%d-%m-%Y')}</p>
                <p><span class="attention">От кого:</span> ${message.sender_name} (${message.sender})</p>
                <p><span class="attention">Кому:</span> ${message.recipients_name} (${message.recipients})</p>
                <p><span class="attention">Тема:</span> ${message.message_title}</p>
            </div>
            <div class="panel-body">
                ${message.message_text}
            </div>
        </div>


    </div>
</div>

</%block>




<%block name="footer"/>
