<%inherit file="control_center_base_new.html"/>

<%block name="title">
  <title>Панель управления - Диалоги</title>
</%block>


<!--
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navbar-style">
        <li><a class="active" href="/control_center/dialogs/warning?day=${day}">Обратить внимание</a></li>
        <li><a href="/control_center/dialogs/all?day=${day}">Смотреть Все</a></li>
        <li><a href="/control_center/tasks">Задачи</a></li>
        <li class="dropdown">
            <a href="/control_center/staistics" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                Статистика
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/control_center/statistics/clients">Клиенты</a></li>
                <li><a href="/control_center/statistics/employee">Сотрудники</a></li>

                <li><a href="/control_center/statistics/system" >Общая</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                ${session_context["user"].name}
                ${session_context["user"].surname}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/control_center/settings">Настройки</a></li>
                <li><a href="/control_center/profile">Профиль</a></li>
                <li><a href="/control_center/help?menu=" >Помощь</a></li>
                <li><a href="/control_center/auth/logout">Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
-->

<%block name="navigation_side">
<%
    day = cur_day.strftime("%d-%m-%Y")
%>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li role="presentation"><br></li>
        <li>
            <a href="/control_center/statistics/management">
                <svg class="glyph stroked dashboard dial"><use xlink:href="#stroked-dashboard-dial"/></svg>
                Оперативный центр
            </a>
        </li>
        <li class="parent ">
            <a href="/control_center/dialogs/warning?day=${day}">
                <span data-toggle="collapse" href="#sub-item-1">
                    <svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></svg>
                </span>
                Диалоги
            </a>
            <ul class="children" id="sub-item-1">
                <li class="active">
                    <a class="" href="/control_center/dialogs/warning?day=${day}">
                        <svg class="glyph stroked flag"><use xlink:href="#stroked-flag"/></svg>
                        Обратить внимание
                    </a>
                </li><%
    day = cur_day.strftime("%d-%m-%Y")
%>

                <li>
                    <a class="" href="/control_center/dialogs/all?day=${day}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg>
                        Смотреть все
                    </a>
                </li>
            </ul>
        </li>
        <!--
        <li>
            <a href="/control_center/tasks">
                <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                Задачи
            </a>
        </li>
        -->
        <li>
            <a href="/control_center/problems">
                <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                Проблемы
            </a>
        </li>

        <li>
            <a href="/control_center/settings">
                <svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg>
                Настройки
            </a>
        </li>
        <!--
        <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
        <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
        <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
        <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
        <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
        <li class="parent ">
            <a href="#">
                <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>

        <li role="presentation" class="divider"></li>
        <li>
            <a href="/control_center">
                <svg class="glyph stroked arrow left"><use xlink:href="#stroked-arrow-left"/></svg>
                Назад
            </a>
        </li>
        -->
    </ul>
    <!--
    <div class="panel panel-default">
            <div class="panel-heading dark-overlay">
                <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>
                Calendar
            </div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>
       -->

</div><!--/.sidebar-->
</%block>


<%block name="base">
<%
    category_color_style = {"conflict": "danger", "normal": "success"}
%>
<div class="row">
    <div class="col-sm-12 col-md-12" align="center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous"
                       data-provide="datepicker-inline" id="datepicker-start"
                       data-date-format="dd-mm-yyyy" data-date-language="ru" data-date-today-highlight="true"
                       data-date-week-start="1">
                        <!--<span aria-hidden="true">&laquo;</span>-->
                        <i class="fa fa-calendar"></i>

                    </a>
                </li>
                <li>
                    <a href="?day=${(cur_day - delta).strftime('%d-%m-%Y')}">
                        ${(cur_day - delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li class="active">
                    <a href="?day=${cur_day.strftime('%d-%m-%Y')}">
                        ${cur_day.strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <a href="?day=${(cur_day + delta).strftime('%d-%m-%Y')}">
                        ${(cur_day + delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <!--
                    <a href="#" aria-label="Next"
                       data-provide="datepicker-inline" id="datepicker-end"
                       data-date-format="dd-mm-yyyy" data-date-language="ru" data-date-today-highlight="true"
                       data-date-week-start="1">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    -->
                </li>
          </ul>
        </nav>

    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <p class="text-muted">${dialog}</p>
        <p>
            <a data-toggle="collapse" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2"
            class="btn btn-danger" type="button">
                Проверенные
                <span class="badge">${len(checked_with_task)}</span>
            </a>

            <a data-toggle="collapse" href="#collapse_1" aria-expanded="false" aria-controls="collapse_1"
            class="btn btn-warning" type="button">
                Непроверенные
                <span class="badge">${len(unchecked)}</span>
            </a>
        </p>
        <div class="collapse" id="collapse_1">
            <div class="well well-sm">
                %for one in range(0, len(unchecked)):
                <p>
                    <a href="#${unchecked[one][1:-1]}_anchor">
                    ${message_list[unchecked[one]].message_title}
                    </a>
                </p>
                %endfor
            </div>
        </div>
        <div class="collapse" id="collapse_2">
            <div class="well well-sm">
                %for one in checked_with_task.keys():
                <p>
                    <a href="#${one[1:-1]}_anchor">
                    ${message_list[one].message_title}
                    </a>
                </p>
                %endfor
            </div>
        </div>
        <div style="margin-bottom: 3em;"> </div>
    </div>
</div>

%if message_list != []:
    %for id in message_id_list:
    <%
        one = message_list[id]
    %>
    <div class="row">
        <a id="${one.message_id[1:-1]}_anchor"></a>
        <div class="col-sm-12 col-md-12" align="left">
            %if api_list[one.message_id].user_action:
            <div class="panel panel-danger" id="message_${one.message_id[1:-1]}">
            %else:
            <div class="panel panel-warning" id="message_${one.message_id[1:-1]}">
            %endif
                <div class="panel-heading" align="left">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <a href="/control_center/show_full_thread?msg_id=${one.message_id}" target="_blank"
                               title="Полная переписка">
                                <i class="fa fa-list-alt fa-2x"></i>
                            </a>
                            %if one.message_id in task_list.keys():
                                %if task_list[one.message_id].status == 2:
                                    <a href="/control_center/tasks/task?uuid=${task_list[one.message_id].uuid}" title="Проблема решена"
                                     target="_blank">
                                        <i class="fa fa-check-circle-o fa-2x text-success"></i>
                                    </a>
                                %else:
                                    <a href="/control_center/tasks/task?uuid=${task_list[one.message_id].uuid}" title="Проблема не решена"
                                     target="_blank">
                                        <i class="fa fa-question-circle fa-2x text-danger"></i>
                                    </a>
                                %endif
                            %else:
                            <!--
                                <a href="/control_center/tasks/create_task?msg_id=${one.message_id}" title="Требуется действие"
                                 target="_blank">
                                    <i class="fa fa-exclamation-circle fa-2x text-danger"></i>
                                </a>
                                -->
                            %endif
                        </div>
                        <div class="col-sm-6 col-md-6" align="right">
                            %if one.channel_type == 0:
                            <i class="fa fa-envelope-o fa-2x"></i>
                            %elif one.channel_type == 1:
                            <i class="fa fa-phone fa-2x"></i>
                            %else:
                            <i class="fa fa-comments fa-2x"></i>
                            %endif
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12 col-lg-12" align="left">
                            <table class="">
                                <tr>
                                    <td style="padding: 5px;" width="5%" align="right"><strong>Категория</strong></td>
                                    %if api_list[one.message_id].user_action:
                                    <td width="95%" align="left">
                                        <span class="text-${category_color_style[api_list[one.message_id].user_answer]}">
                                            ${category[api_list[one.message_id].user_answer].category}
                                        </span>
                                    </td>
                                    %else:
                                    <td width="95%" align="left">
                                        <span id="${one.message_id[1:-1]}_category">
                                        % for key in category.keys():
                                            <a href="#"
                                               class="btn btn-${category_color_style.get(key)}"
                                               onclick="user_check_category('${key == api_list[one.message_id].auto_cat}',
                                               '${key in warn_cat}',
                                               '${one.message_id[1:-1]}', '${key}',
                                               '${category[key].category}', '${main_link}',
                                               '${api_list[one.message_id].uuid}',
                                               '${category_color_style[key]}',
                                               '${production_mode}');  return false;">
                                                ${category[key].category}
                                            </a>
                                        % endfor
                                            <!--
                                            <a href="${main_link}${api_list[one.message_id].uuid}/${category.keys()[0]}"
                                             target="_blank" class="btn btn-${category_color_style.get(category.keys()[0])}">
                                                ${category.values()[0].category}
                                            </a>
                                            <a href="${main_link}${api_list[one.message_id].uuid}/${category.keys()[1]}"
                                             target="_blank" class="btn btn-${category_color_style.get(category.keys()[1])}">
                                                ${category.values()[1].category}
                                            </a>
                                            -->
                                        </span>

                                        </td>
                                    %endif
                                </tr>
                                <tr>
                                    <td style="padding: 5px;" width="5%" align="right"><strong>Дата</strong></td>
                                    <td width="95%" align="left">${one.orig_date.strftime('%d-%m-%Y %H:%M')}</td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px;" width="5%" align="right"><strong>От кого</strong></td>
                                    <td width="95%" align="left">${one.sender_name} (${one.sender})</td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px;" width="5%" align="right"><strong>Кому</strong></td>
                                    <td width="95%" align="left">${one.recipients_name} (${one.recipients})</td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px;" width="5%" align="right"><strong>Тема</strong></td>
                                    <td width="95%" align="left">${one.message_title}</td>
                                </tr>
                                <tr height="3em;">
                                    <td colspan="2" style="padding-top: 2em;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        ${one.message_text}
                                    </td>
                                </tr>
                            </table>
                            <div class="modal fade" tabindex="-1" role="dialog" id="problem_modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">связано с проблемой</h4>
                                        </div>
                                        <div class="modal-body" id="problem_list_modal">

                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    %endfor
%endif

</%block>

<%block name="custom_scripts">
<script>
    $('#datepicker-start, #datepicker-end').datepicker().on('changeDate', function (e) {
            console.log('Выбран день: ', e.format());
            window.location.href = '?day=' + e.format();
        });
</script>
<script src="/static/js/control-center.js" rel="script"></script>
</%block>

<%block name="footer"/>

