<%inherit file="control_center_base_new.html"/>

<%block name="title">
  <title>Настройки - новое исключение</title>
</%block>


<%block name="navigation_side">
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li><br></li>
        <li>
            <a href="administration">
                <svg class="glyph stroked arrow left"><use xlink:href="#stroked-arrow-left"/></svg>
                Назад
            </a>
        </li>
    </ul>

</div><!--/.sidebar-->
</%block>


<%block name="base">
<div class="row">
    <div class="col-sm-12 col-md-12" align="left" style="margin-top: 3em;margin-bottom: 3em;">
        %if message:
        <div class="alert bg-warning" role="alert">
            ${message}
        </div>
        %endif
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <form class="form-horizontal" method="post" action="create_exception">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Адрес, телефон или имя пользователя *</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputName" name="address" required>
               </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>


</%block>




<%block name="footer"/>
