<%inherit file="control_center_base.html"/>

<%block name="title">
  <title>Панель управления - Диалоги</title>
</%block>

<%block name="navigation">
<%
    day = cur_day.strftime("%d-%m-%Y")
%>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navbar-style">
        <li><a class="active" href="/control_center/dialogs/warning?day=${day}">Обратить внимание</a></li>
        <li><a href="/control_center/dialogs/all?day=${day}">Смотреть Все</a></li>
        <li><a href="/control_center/tasks">Задачи</a></li>
        <li class="dropdown">
            <a href="/control_center/staistics" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                Статистика
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <!--
                <li><a href="/control_center/statistics/clients">Клиенты</a></li>
                <li><a href="/control_center/statistics/employee">Сотрудники</a></li>
                -->
                <li><a href="/control_center/statistics/system" >Общая</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
                ${session_context["user"].name}
                ${session_context["user"].surname}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/control_center/settings">Настройки</a></li>
                <li><a href="/control_center/profile">Профиль</a></li>
                <li><a href="/control_center/help?menu=" >Помощь</a></li>
                <li><a href="/control_center/auth/logout">Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
</%block>

<%block name="base">
<%
    category_color_style = {"conflict": "danger", "normal": "success"}
%>
<div class="row">
    <div class="col-sm-12 col-md-12" align="center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a href="?day=${(cur_day - delta).strftime('%d-%m-%Y')}">
                        ${(cur_day - delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li class="active">
                    <a href="?day=${cur_day.strftime('%d-%m-%Y')}">
                        ${cur_day.strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <a href="?day=${(cur_day + delta).strftime('%d-%m-%Y')}">
                        ${(cur_day + delta).strftime('%d-%m-%Y')}
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
          </ul>
        </nav>

    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <p class="text-muted">${dialog}</p>
        <p>
            <a data-toggle="collapse" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2"
            class="btn btn-danger" type="button">
                Проверенные
                <span class="badge">${len(checked_with_task)}</span>
            </a>

            <a data-toggle="collapse" href="#collapse_1" aria-expanded="false" aria-controls="collapse_1"
            class="btn btn-warning" type="button">
                Непроверенные
                <span class="badge">${len(unchecked)}</span>
            </a>
        </p>
        <div class="collapse" id="collapse_1">
            <div class="well well-sm">
                %for one in range(0, len(unchecked)):
                <p>
                    <a href="#${unchecked[one]}">
                    ${message_list[unchecked[one]].message_title}
                    </a>
                </p>
                %endfor
            </div>
        </div>
        <div class="collapse" id="collapse_2">
            <div class="well well-sm">
                %for one in checked_with_task.keys():
                <p>
                    <a href="#${one}">
                    ${message_list[one].message_title}
                    </a>
                </p>
                %endfor
            </div>
        </div>
        <div style="margin-bottom: 3em;"> </div>
    </div>
</div>

%if message_list != []:
    %for id in message_id_list:
    <%
        one = message_list[id]
    %>
    <div class="row">
        <a id="${one.message_id}"></a>
        <div class="col-sm-12 col-md-12" align="left">
            %if api_list[one.message_id].user_action:
            <div class="panel panel-default">
            %else:
            <div class="panel panel-warning">
            %endif
                <div class="panel-heading" align="left">
                    <a href="/control_center/show_full_thread?msg_id=${one.message_id}" target="_blank"
                       title="Полная переписка">
                        <i class="fa fa-list-alt fa-2x"></i>
                    </a>
                    %if one.message_id in task_list.keys():
                        %if task_list[one.message_id].status == 2:
                            <a href="/control_center/tasks/task?uuid=${task_list[one.message_id].uuid}" title="Проблема решена"
                             target="_blank">
                                <i class="fa fa-check-circle-o fa-2x text-success"></i>
                            </a>
                        %else:
                            <a href="/control_center/tasks/task?uuid=${task_list[one.message_id].uuid}" title="Проблема не решена"
                             target="_blank">
                                <i class="fa fa-question-circle fa-2x text-danger"></i>
                            </a>
                        %endif
                    %else:
                    <!--
                        <a href="/control_center/tasks/create_task?msg_id=${one.message_id}" title="Требуется действие"
                         target="_blank">
                            <i class="fa fa-exclamation-circle fa-2x text-danger"></i>
                        </a>
                        -->
                    %endif

                </div>
                <div class="panel-heading" align="left">
                    <div class="row">
                        <div class="col-md-6" align="left">
                            <span class="attention">Категория: </span> ${category[api_list[one.message_id].auto_cat].category}
                        </div>

                        <div class="col-md-6" align="right">
                            %if api_list[one.message_id].user_action:
                            ${category[api_list[one.message_id].user_answer].category}
                            %else:
                            <span>
                                <a href="${main_link}${api_list[one.message_id].uuid}/${category.keys()[0]}"
                                 target="_blank" class="btn btn-${category_color_style.get(category.keys()[0])}">
                                    ${category.values()[0].category}
                                </a>
                                <a href="${main_link}${api_list[one.message_id].uuid}/${category.keys()[1]}"
                                 target="_blank" class="btn btn-${category_color_style.get(category.keys()[1])}">
                                    ${category.values()[1].category}
                                </a>
                            </span>
                            %endif
                        </div>
                    </div>

                </div>
                <div class="panel-heading">
                    <p><span class="attention">Дата:</span> ${one.orig_date.strftime('%d-%m-%Y')}</p>
                    <p><span class="attention">От кого:</span> ${one.sender_name} (${one.sender})</p>
                    <p><span class="attention">Кому:</span> ${one.recipients_name} (${one.recipients})</p>
                    <p><span class="attention">Тема:</span> ${one.message_title}</p>
                </div>
                <div class="panel-body">
                    ${one.message_text}
                </div>
            </div>
        </div>

    </div>
    %endfor
%endif

        <script src="/static/js/notification.js"></script>

</%block>




<%block name="footer"/>
