<%inherit file="control_center_base_new.html"/>

<%block name="title">
  <title>Оперативный центр</title>
</%block>


<%block name="navigation_side">
<%
    day = cur_day.strftime("%d-%m-%Y")
%>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li role="presentation"><br></li>
        <li class="active">
            <a href="/control_center/statistics/management">
                <svg class="glyph stroked dashboard dial"><use xlink:href="#stroked-dashboard-dial"/></svg>
                Оперативный центр
            </a>
        </li>
        <li class="parent ">
            <a href="/control_center/dialogs/warning?day=${day}">
                <span data-toggle="collapse" href="#sub-item-1">
                    <svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></svg>
                </span>
                Диалоги
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="/control_center/dialogs/warning?day=${day}">
                        <svg class="glyph stroked flag"><use xlink:href="#stroked-flag"/></svg>
                        Обратить внимание
                    </a>
                </li>
                <li>
                    <a class="" href="/control_center/dialogs/all?day=${day}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg>
                        Смотреть все
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/control_center/tasks">
                <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                Задачи
            </a>
        </li>
        <li>
            <a href="/control_center/settings">
                <svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg>
                Настройки
            </a>
        </li>
    </ul>

</div><!--/.sidebar-->
</%block>

<%block name="base">
        <%
            non_checked_by_users = stat[0]
            confirmed_problem  = stat[1]
            tasks_by_responsible = stat[2]
            tasks_by_cause = stat[3]
            tasks_by_empl = stat[4]
            tasks_by_client = stat[5]
        %>

		<div class="row" style="padding-top: 1em;">
			%if start_date:
			<input hidden type="text" value="${start_date.strftime('%d-%m-%Y')}" id="start_date">
			%else:
			<input hidden type="text" value="${start_date}" id="start_date">
			%endif
			<input hidden type="text" value="${end_date.strftime('%d-%m-%Y')}" id="end_date">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="well">
					<p class="lead">
						%if start_date:
						Данные за период (${start_date.strftime("%d-%m-%Y")} - ${end_date.strftime("%d-%m-%Y")})
						%else:
						Текущая ситуация (${end_date.strftime("%d-%m-%Y")})
						%endif
					</p>

					<div class="panel panel-orange panel-widget ">
						<div class="row no-padding">
							<div class="col-sm-3 col-lg-5 widget-left">
								<i class="fa fa-question fa-4x"  aria-hidden="true"></i>
							</div>
							<div class="col-sm-9 col-lg-7 widget-right">
								<div class="large">
									${non_checked_by_users}
								</div>
								<div class="text-muted">
									ситуаций на проверку
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-red panel-widget">
						<div class="row no-padding">
							<div class="col-sm-3 col-lg-5 widget-left">
								<i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
							</div>
							<div class="col-sm-9 col-lg-7 widget-right">
								<div class="large">
									${confirmed_problem}
								</div>
								<div class="text-muted">
									проблем подтверждено
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-teal panel-widget">
						<div class="row no-padding">
							<div class="col-sm-3 col-lg-5 widget-left">
								<i class="fa fa-check fa-4x" aria-hidden="true"></i>
							</div>
							<div class="col-sm-9 col-lg-7 widget-right">
								<div class="large">
									%if tasks_by_responsible.get(2):
									${sum([r[1] for r in tasks_by_responsible.get(2)])}
									%else:
									0
									%endif
								</div>
								<div class="text-muted">
									проблем закрыто
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							%if start_date:
							Динамика за период (${start_date.strftime("%d-%m-%Y")} - ${end_date.strftime("%d-%m-%Y")})
							%else:
							Динамика за последние 7 дней
							%endif
						</div>
                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="violation_stats" height="200" width="600"></canvas>
                            </div>
                        </div>
                    </div>

			</div>
		</div><!--/.row-->

        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
					<div class="panel-heading">
						Проблемы по причинам
						%if start_date:
						(${start_date.strftime("%d-%m-%Y")} - ${end_date.strftime("%d-%m-%Y")})
						%else:
						(${end_date.strftime("%d-%m-%Y")})
						%endif
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="problem_by_cause" ></canvas>
						</div>
					</div>
                    <div class="panel-footer" id="legend_problem_by_cause">
                    </div>
				</div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
					<div class="panel-heading">
						Проблемы по сотрудникам
						%if start_date:
						(${start_date.strftime("%d-%m-%Y")} - ${end_date.strftime("%d-%m-%Y")})
						%else:
						(${end_date.strftime("%d-%m-%Y")})
						%endif
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="problem_by_employee" ></canvas>
						</div>
					</div>
                    <div class="panel-footer" id="legend_problem_by_employee">
                    </div>
				</div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
					<div class="panel-heading">
						Проблемы по клиентам
						%if start_date:
						(${start_date.strftime("%d-%m-%Y")} - ${end_date.strftime("%d-%m-%Y")})
						%else:
						(${end_date.strftime("%d-%m-%Y")})
						%endif
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="problem_by_client" ></canvas>
						</div>
					</div>
                    <div class="panel-footer" id="legend_problem_by_client">
                    </div>
				</div>
            </div>
        </div><!--/.row-->

</%block>

<%block name="footer">
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

</%block>