<%inherit file="control_center_base_new.html"/>

<%block name="title">
  <title>Панель управления - Настройки</title>
</%block>


<%block name="navigation_side">
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li class="active">
            <a href="index.html">
                <svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg>
                Администрирование
            </a>
        </li>
        <!--
        <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
        <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
        <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
        <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
        <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
        <li class="parent ">
            <a href="#">
                <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
        -->
        <li role="presentation" class="divider"></li>
        <li>
            <a href="/control_center">
                <svg class="glyph stroked arrow left"><use xlink:href="#stroked-arrow-left"/></svg>
                Назад
            </a>
        </li>
    </ul>

</div><!--/.sidebar-->
</%block>

<%block name="base">

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <div align="left">
            <h2>Управление пользователями</h2>
            <p class="text-muted">Добавление, редактирование, отключение пользователей.</p>
            <div style="margin-bottom: 1em;">
                <a href="new_user">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </a>
            </div>
            <table class="table table-condensed table-hover" border="0">
            %for one in users:
                %if one.uuid == session_context.get("user").uuid:
                <tr align="center" class="text-muted">
                %else:
                <tr align="center">
                %endif
                    <td width="20%">${one.name} ${one.surname}</td>
                    <td width="10%">${one.login}</td>
                    <td width="10%">${one.email}</td>
                    <td width="5%">${user_status[one.disabled]}</td>
                    <td width="10%">
                    %if one.uuid != session_context.get("user").uuid:
                        <a href="edit_user?user_uuid=${one.uuid}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        %if one.disabled:
                        <a href="change_user_status?user_uuid=${one.uuid}">
                            <i class="fa fa-check-circle-o text-success"></i>
                        </a>
                        %else:
                        <a href="change_user_status?user_uuid=${one.uuid}">
                            <i class="fa fa-ban text-danger"></i>
                        </a>
                        %endif
                    %endif
                    </td>
                    <td></td>

                </tr>

            %endfor

            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <h2>Управление уведомлениями</h2>
        <p>
            Назначение пользователей на получение уведомлений от системы. <br>
            Пользователь будет получать уведомления, если в полях От, Кому, Копия будут обнаружены адреса входящие
            в его список наблюдения.<br>
            Адрес может быть указан полностью или только домен (часть после @).<br>
        </p>
        <%
            users_dict = dict()
            for one in users:
                users_dict[one.uuid] = one
        %>
        <div style="margin-bottom: 1em;">
            <a href="new_watch_rec?from_url=/control_center/settings/administration">
                <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>
        <table class="table tabel-condensed table-hover" border=0 width="50%">
            %for i in range(0, len(watch_list.keys())):
            <%
                one = watch_list.keys()[i]
            %>
            <tr align="left">
                <td width="10%">${one}</td>

                <td width="50%">
                    %for uuid in watch_list.get(one):
                    <span class="btn btn-default">
                        ${users_dict.get(uuid).name} ${users_dict.get(uuid).surname}
                        <a href="delete_watch_rec?user_uuid=${uuid}&client_marker=${one}&from_url=/control_center/settings/administration">
                            <i class="fa fa-times"></i>
                        </a>

                    </span>

                    %endfor
                    <a data-toggle="collapse" href="#collapse_${i}"
                       aria-expanded="false" aria-controls="collapse_${i}">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td width="20%">
                    <div class="collapse" id="collapse_${i}">
                        <div class="well">
                            %for user in users:
                            %if user.uuid not in watch_list.get(one):
                            <a role="button" class="btn btn-default"
                               href="add_watch_rec?user_uuid=${user.uuid}&client_marker=${one}&from_url=/control_center/settings/administration">
                                ${user.name} ${user.surname}
                            </a>
                            %endif
                            %endfor
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            %endfor
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12" align="left">
        <h2>Управление участниками диалогов</h2>
        <p>
            Участники диалогов со стороны компании и клиентов.
        </p>
        <p>
            Система использует эти данные в операционном центре и при расчете статистики.
        </p>
        <div style="margin-bottom: 1em;">
            <a href="new_dialog_member?from_url=/control_center/settings/administration">
                <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>
        <h4>Сотрудники</h4>
        <table class="table table-condensed table-hover" border="0">
            %for member in members.values():
            %if member.type == 0:
            <tr align="center">
                <td width="20%">${member.name} ${member.surname}</td>
                <td width="10%">${member.uuid}</td>
                <td width="10%">${member.emails}</td>
                <td width="5%">${member.phone}</td>
                <td width="10%">
                    <a href="edit_dialog_member?uuid=${member.uuid}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td></td>
            </tr>
            %endif
            %endfor
        </table>

        <h4>Клиенты</h4>
        <table class="table table-condensed table-hover" border="0">
            %for member in members.values():
            %if member.type == 1:
            <tr align="center">
                <td width="20%">${member.name} ${member.surname}</td>
                <td width="10%">${member.uuid}</td>
                <td width="10%">${member.emails}</td>
                <td width="5%">${member.phone}</td>
                <td width="10%">
                    <a href="edit_dialog_member?uuid=${member.uuid}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td></td>
            </tr>
            %endif
            %endfor
        </table>


    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-6" align="left">
        <h2>Управление исключениями</h2>
        <p>
            Сообщения у которых указанные адреса встретятся в полях От, Кому, Копия не будут обрабатываться.
        </p>
        <p>
            Звонки с указанными телефонами обрабатываться не будут.
        </p>
        <div style="margin-bottom: 1em;">
            <a href="new_exception?from_url=/control_center/settings/administration">
                <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>

        <table class="table table-condensed table-hover" border="0">
            %for one in exceptions.split("|"):
            <tr align="center">
                <td width="30%">${one}</td>
                <td width="10%">
                    <a href="delete_exception?uuid=${one}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td></td>
            </tr>
            %endfor
        </table>
    </div>
</div>
</%block>




<%block name="footer"/>
